---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.jsx";
import Footer from "../components/Footer.jsx";
import DeckBox from "../components/DeckBox";
import { loadTopDeckBoxes } from "../server/decks";

const decks = await loadTopDeckBoxes(15);
---

<Layout title="The Maze's End - cEDH Hub">
  <div class="min-h-screen bg-gray-900 p-6 sm:p-10 lg:p-16">
    <Navigation client:load />

    <div class="mx-auto max-w-7xl">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-12">
        {decks.map((d) => <DeckBox client:visible {...d} />)}
      </div>
    </div>

    <Footer client:load />
  </div>
</Layout>
